In [28]:
from asyncio import run
import pandas as pd
from sqlalchemy import create_engine
import pyarrow.parquet as pq

In [12]:
url_taxi = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet'
url_zone = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

In [14]:
df_taxi = pd.read_parquet(url_taxi)
df_zone = pd.read_csv(url_zone)

In [22]:
df_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [34]:
# CREATE TBALE
df_taxi.head(0).to_sql(
            name="green_taxi_nov_data",
            con=engine,
            if_exists="replace")

0

In [35]:
# INSERET DATA
df_taxi.to_sql(
        name="green_taxi_nov_data",
        con=engine,
        if_exists="append"
    )

912

In [38]:
# CREATE TBALE
df_zone.head(0).to_sql(
            name="zone_data",
            con=engine,
            if_exists="replace")

# INSERET DATA
df_zone.to_sql(
        name="zone_data",
        con=engine,
        if_exists="append"
    )

265

In [37]:
df_zone.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object